<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      table{
        width:300px;
        height:250px;
        border-collapse: collapse;
      }
      table, tr, th, td{
        border: 1px solid black;
      }
      td{
        text-align:center;
      }
      table > tbody > tr:nth-child(2n+1){
        background:gray;
      }
      table > tbody > tr:hover{
        background:black;
        color:yellow;
      }
    </style>
</head>
<body>
  <table>
    <thead>
    <tr><th>ID</th><th>PWD</th><th>NAME</th></tr>
    </thead>
    <tbody>
    <tr><td>id01</td><td>pwd01</td><td>james01</td></tr>
    <tr><td>id02</td><td>pwd02</td><td>james02</td></tr>
    <tr><td>id03</td><td>pwd03</td><td>james03</td></tr>
    <tr><td>id04</td><td>pwd04</td><td>james04</td></tr>
    <tr><td>id05</td><td>pwd05</td><td>james05</td></tr>
    </tbody>
  </table>
</body>
</html>