<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width="300px">
  <thead>
  <tr><th>111</th><th>222</th><th>3333</th></tr>
  </thead>
  <tbody>
  <tr><td>id1</td><td>11</td><td>1</td><td>a</td></tr>
  <tr><td>id2</td><td>22</td><td>2</td><td>s</td></tr>
  <tr><td>id3</td><td>33</td><td>3</td><td>d</td></tr>
  <tr><td>id4</td><td>44</td><td>4</td><td>f</td></tr>
  <tr><td>id5</td><td>55</td><td>5</td><td>g</td></tr>
  </tbody>
<!--  <tr>-->
<!--    <th>Firstname</th>-->
<!--    <th>Lastname</th>-->
<!--    <th>Age</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Jill</td>-->
<!--    <td>Smith</td>-->
<!--    <td>50</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Eve</td>-->
<!--    <td>Jackson</td>-->
<!--    <td>94</td>-->
<!--  </tr>-->
</table>

<ul>
  <li>first</li>
  <li>second</li>
  <li>third</li>
</ul>
<ol>
  <li>first</li>
  <li>second</li>
  <li>third</li>
</ol>
<table border = '2'>
  <tbody>
  <tr><td>1</td><td colspan="2">2</td></tr>
  <tr><td>4</td><td rowspan="2">5</td><td>6</td></tr>
  <tr><td>7</td><td>9</td></tr>
  </tbody>



</table>




</body>
</html>