<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <style>
        div{
            width: 500px;
            border: 2px solid hotpink;
        }
    </style>
    <script>
        function display(data) {
            $('#container').empty();
            $(data).each(function (index,d) {
                $('#container').append('<p>'+d.location +'   '+ d.datas + '</p>')
                });
        }
        function getdata(t){
            $.ajax({
                url:'ajs02?cmd='+t,
                datatype:'JSON',
                success:function(data){
                    display(data);
                },
                error:function(){
                    alert('err')
                }

            });
        };


        $(document).ready(function(){
            $('button').eq(0).click(function () {
                getdata('a');
            })
            $('button').eq(1).click(function () {
                getdata('b');
            })
        });
    </script>
</head>
<body>
        <h1>aj02</h1>
        <button>DATA1</button><button>DATA2</button>
        <div id="container"></div>
</body>
</html>