<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>

    <script>
        $(document).ready(function(){
            $('#hh1').html('<a href="js01">home</a>')
            $('h2').css({'color' : 'red','background':'blue'});
            $('h3').click(function (){
                $(this).css('color','green');

            });
            $('form > input[name="id"]').css('background','gray');
        });
    </script>
</head>
<body>
        <h1 id="hh1">jq01</h1>
        <h1>jq01</h1>
        <h2>Header2</h2>
        <h3>Header3</h3>
        <h3 class="c1">Header3</h3>
        <form>
            ID<input type="text" name="id"><br>
            PWD<input type="password" name="pwd"><br>
        </form>
</body>
</html>