<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <style>
        .cc{
            color: coral;
            background: darkblue;
        }
    </style>
    <script>
        $(document).ready(function(){
            $('button').eq(0).click(function () {
                $('h2').addClass('cc');
            })
             $('button').eq(1).click(function () {
                $('h2').removeClass('cc');
            })
        });

    </script>
</head>
<body>
    <h1>jq07</h1>
    <button>add</button><button>remove</button>
    <h2>Header</h2>


</body>
</html>

