<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
  *{
   margin:0;
   padding:0;
  }
    div{
      border:3px solid black;
      margin : 10px 50px;
      padding : 20px;
    }
    h1{
      display: inline;
    }
    span{
      display: block;
    }
    span.hidden{
      visibility: hidden;
    }
  </style>
</head>
<body>

<h1>Header</h1>
<h1>Header</h1>
<span>Span1</span>
<span class="hidden">Span1</span>
<span>Span1</span>
  <div>
    <p>Paragraph</p>

  </div>
</body>
</html>