<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
    }
        p.c1{
        color:red;
        }

    ul > li > a{
        color:black;
        font-size:1.5em;
        }
    ul > li > a:hover{
        color:red;

    }
    input[name = "pwd"]{
        background:yellow;
 
    input:hover{
        background:gray;
    }

    }
    </style>
</head>
<body>
<p class="c1"> paragraph1 </p>
<p> paragraph1 </p>
<p> paragraph1 </p>
    <ul>
        <li> <a href=""> click1</a></li>
        <li> <a href=""> click2</a></li>
        <li> <a href=""> click3</a></li>
    </ul>
    <form>
        ID<input type="text" name="id"><br>
        PASSWORD<input type="password" name="pwd"><br>
        <input type="submit" value="login">

    </form>
</body>
</html>